@model List<SosialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 70%">Başlık</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SosialMediaID</td>
                                    <td>@item.Name</td>
                                    <td><a href="/SocialMedia/DeleteSocialMedia/@item.SosialMediaID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/SocialMedia/EditSocialMedia/@item.SosialMediaID" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/SocialMedia/AddSocialMedia/" class="btn btn-outline-info float-right">Yeni Sosyal Medya Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

