
<div class="page-header">
    <h3 class="page-title">@ViewBag.Page </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@ViewBag.IndexLink">@ViewBag.Controller</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Page</li>
        </ol>
    </nav>
</div>