@model List<WriterMessage>
@{
    ViewData["Title"] = "Trashbox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Mesajlar</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:18%">Konu</th>
                            <th style="width:19%">Alıcı</th>
                            <th style="width:18%">Tarih</th>
                            <th style="width:10%">Geri Döndür</th>
                            <th style="width:10%">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@item.SenderName</td>
                                <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                                <td><a href="/Writer/Message/RecycleMessage/@item.WriterMessageID" class="btn btn-outline-success">Geri Döndür</a></td>
                                <td><a href="/Writer/Message/DeleteMessage/@item.WriterMessageID" class="btn btn-outline-danger">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

